.container{
  text-align: center;
  background-color:rgb(213, 195, 171) ;
}

input{
  width: 150px;
  height: 30px;
  background-color: rgb(190, 206, 206);
  border-radius: 10px;
  color:blue;
}
h1{
  color: red;
}
img{
  border-radius: 10px;
  border: 5px solid;
  width: 400px;
  height: 200px;
  margin-top: 20px;
}